.recipe-card {
    display: block;
    border: 1px solid silver;
    padding: 15px;
    border-radius: 20px;
    background-color: #fff;
    img {
        width: 100%;
        margin-bottom: 15px;
        border-radius: 20px;
        height: 200px;
    }
    h3 {
        font-weight: bold;
        color: $secondary-color;
        margin-bottom: 15px;
        text-transform: capitalize;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    p {
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
